<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCovPoc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if ENV['TEST_COV'] %>
      <h1>Current Test Run: <%= ENV.fetch('TEST_COV') %></h1>
      <h1 style="color: red">Status: <%= SimpleCov.running ? 'Running' : 'Stopped' %></h1>
    <% end %>

    <ul style="display: inline-block">
      <li><%= link_to 'Posts', posts_path %></li>
      <li><%= link_to 'Testings', testings_path %></li>
    </ul>

    <%= yield %>
  </body>
</html>
